<h2><%= product.detail.title %></h2>
<img src="<%= product.detail.icon %>" width="100" height="150" />
<h4><%= product.price%> VND</h4>

<br>
<ul>
    <li>Page count: <%= product.detail.pageCount %></li>
    <li>Author:</li>
    <ul>
        <% product.detail.author.map(author => { %> <% const middleName =
        author.middleName == null ? " " : " " + author.middleName + " " %>
        <li><%= author.lastName + middleName + author.firstName %></li>
        <% }) %>
    </ul>
    <% genreList = product.detail.genre.map( genre => { %> <% return genre.name %> <% })
    %>
    <li>Genre: <%= genreList.join(' ')%></li>
    <li>Language: <%= product.detail.language.name %></li>
    <li>Publish Date: <%= product.detail.publishDate %></li>
    <li>Publisher: <%= product.detail.publisher.name %></li>
</ul>
