<div>
    <label>Title</label>
    <input type="text" name="title" value="<%= book.title %>" />
</div>
<div>
    <label for="genre">Genre</label>
    <select name="genre" id="genre">
        <% bookGenres.forEach( genre => { %> 
            <% if (genre._id === book.genre) { %>
                <option selected label="<%= genre.name %>" value="<%= genre._id %>"></option>
            <% } else { %>
                <option label="<%= genre.name %>" value="<%= genre._id %>"></option>
            <% } %> 
        <% }) %>
    </select>
</div>
<div>
    <label for="author">Author</label>
    <select name="author" id="author">
        <% authors.forEach( author => { %> 
            <% const name = author.lastName + ' ' + author.middleName + ' ' + author.firstName %> 
            <% if (author._id === book.author) { %>
                <option selected label="<%= name  %>" value="<%= author._id %>"></option>
            <% } else { %>
                <option label="<%= name %>" value="<%= author._id %>"></option>
            <% } %>
        <% }) %>
    </select>
</div>
<div>
    <label for="coverType">Cover Type</label>
    <select name="coverType" id="coverType">
        <% bookCovers.forEach( bookCover => { %> 
            <% if (bookCover._id === book.coverType) { %>
                <option selected label="<%= bookCover.type %>" value="<%= bookCover._id %>"></option>
            <% } else { %>
                <option label="<%= bookCover.type %>" value="<%= bookCover._id %>"></option>
            <% } %>
        <% }) %>
    </select>
</div>
<div>
    <label>Page Count</label>
    <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>"/>
</div>
<div>
    <label for="language">Language</label>
    <select name="language" id="language">
        <% languages.forEach( language => { %> 
            <% if (language._id === book.language) { %>
                <option selected label="<%= language.name %>" value="<%= language._id %>"></option>
            <% } else { %>
                <option label="<%= language.name %>" value="<%= language._id %>"></option>
            <% } %> 
        <% }) %>
    </select>
</div>
<div>
    <label for="publisher">Publisher</label>
    <select name="publisher" id="publisher">
        <% publishers.forEach( publisher => { %> 
            <% if (publisher._id === book.publisher) { %>
                <option selected label="<%= publisher.name %>" value="<%= publisher._id %>"></option>
            <% } else { %>
                <option label="<%= publisher.name %>" value="<%= publisher._id %>"></option>
            <% } %>
        <% }) %>
    </select>
</div>
<div>
    <label>Publication Date</label>
    <input type="date" name="publishDate" value="<%= book.publishDate == null ? '' : book.publishDate %>"/>
</div>
<div>
    <label>ISBN 10</label>
    <input type="text" name="isbn10"/>
</div>
<div>
    <label>ISBN 13</label>
    <input type="text" name="isbn13" />
</div>
<div>
    <label>Cost</label>
    <input type="text" name="cost" value="<%= product.cost %>" />
</div>
<div>
    <label>Price</label>
    <input type="text" name="price" value="<%= product.price %>" />
</div>
<div>
    <label for="img">Cover Image</label>
    <input type="file" name="img" class="filepond" id="img" />
</div>
<div>
    <label for="desc">Description</label>
    <textarea name="desc" id="desc" cols="50" rows="4"></textarea>
</div>
