<h2>Author</h2>
<h3>Search Bar</h3>
<div>
    <form action="/authors" method="GET">
        <label>Name</label>
        <input type="text" name="name" value="<%= searchDetail.name%>">
        <button type="submit">Search</button>
    </form>
    <a href="/authors/new"><input type="button" value="Add Author"></a>
</div>
<br>
<br>
<% authors.forEach(author => { %>
    <div><a href="./authors/<%= author._id %> "><%= author.lastName + ' ' + author.middleName + ' ' + author.firstName %> </a></div>
    <a href="/authors/<%= author._id %>/edit"><input type="button" value="Edit"></a>
    <form method="POST" action="/authors/<%= author._id %>?_method=DELETE">
        <button type="submit">Delete</button>
    </form>
<% })%> 